* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button {
    border-radius: 20px;
    height: auto;
    padding: 10px;
}

button.blu-notte {
    background-color: blue;
}

button.blu-chiaro {
    background-color: azure;
}


.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#menu {
    
    gap: 50px;
    display: flex;
    align-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
}

#hero {
    text-align: center;
    padding: 50px;
}



/* regole per il contenuto principale */
.flex-section {
    padding: 70px;
    
    display: flex;
    justify-content: space-around;

    background-color: rgb(255, 255, 255);
    min-height: 450px;
}


/* seconda section */
.flex-section-second {
    padding: 70px;
    width: 80%;
    margin: 0 auto;


    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;

    background-color: rgb(137, 126, 126);
    min-height: 450px;
} 

/* quarta section */
.four-section {
    text-align: center;
    background-color: rgb(137, 126, 126) ;
    width: 80%;
    margin: 0 auto;
    padding: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}


/* regole footer */

.bloc {
    display: block;
}

.border-bottom {
    border-bottom: 2px solid gray;
    padding: 15px;
}

.flex-footer {
    display: flex;
    justify-content: space-between;

    padding-top: 10px;
}

footer {
    width: 100%;
    margin: 0 auto;
}

/* regole debug */

header {
    min-height: 100px;
    background-color: violet;
    border: solid 3px black;
    padding: 10px;
}

nav {
    min-height: 40px;
    background-color: orange;
}

#hero {
    min-height: 100px;
    background-color: aquamarine;
    
}

.debug {
    
    min-height: 450px;
    border: solid 3px red;

}

.immaginetta {
    background-color: blue;
    width: 200px;
    
}


.section-color {
    background-color: olivedrab;
}

footer {
    min-height: 300px;
    background-color: greenyellow;
    border: 4px violet solid;



    /* display: flex;
    justify-content: space-around; */
}


.footer {
    display: flex;
    justify-content: space-around;
}



.sfondo {
    width: 100%;
    background-color: gray
}


.contenitore-footer {
    width: 80%;
    margin: 0 auto;
    background-color: yellow;
}